@charset "utf-8";

/*Todas as medias*/

@media print{

    *{
        font-family: 'Courier New', Courier, monospace;
    }
    body{
        background-image: url(../imagens/back-print.jpg);
        text-shadow: none;
        color: black;
    }

    main{
        width: 90%;
        border: 2px solid grey;
    }
    main::after{
        content: "Esta impressão foi realizada por guilhermediasweb.io";
        text-decoration: overline;
    }
    main, h1{
        text-shadow: none;
        color: black;
    }

    img#fone{display: none;}
    img#tablet{display: none;}
    img#impressora{display: block;}
    img#pc{display: none;}
    img#tv{display: none;}
}

@media screen and (min-width: 481px) and (max-width: 768px) /*TABLET*/ {
    body{
        background-image: url(../imagens/back-tablet.jpg);
    }

    img#fone{display: none;}
    img#tablet{display: block;}
    img#impressora{display: none;}
    img#pc{display: none;}
    img#tv{display: none;}
    
}

@media screen and (min-width: 768px) and (max-width:1201px) /*TELAS DE PCS E NOTES*/ {
    body{
        background-image: url(../imagens/back-pc.jpg);
    }

    img#fone{display: none;}
    img#tablet{display: none;}
    img#impressora{display: none;}
    img#pc{display: block;}
    img#tv{display: none;}
    
}

@media screen and (min-width: 1201px) /*GRANDES TELAS*/ {
    body{
        background-image: url(../imagens/back-tv.jpg)
    }
    
    img#fone{display: none;}
    img#tablet{display: none;}
    img#impressora{display: none;}
    img#pc{display: block;}
    img#tv{display: block;}
}