@charset "UTF-8";

/*Estilo para tela*/

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

header{
    background-color: lightcoral;
}

header > h1{
    text-align: center;
}

menu ul{
    list-style-type: none;
    text-align: left;
    background-color: orangered;
}
menu li{
    display: inline-block;
    padding: 10px;
}

article{
    width: 600px;
    display: block;
    margin: auto;
}